@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;
 
:root {
  --primary: #19232D;
  --secondary: #1F2E3C;
  --accent: #DCBB87;
  --white: #FFFFFF;
  --grey: #D9D9D9;
  --grey_light: #F8F7FA;
}

*{
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
